/* Elements */

:root {
  font-size: 20px;
}
* {
  font-family: "Andada Pro", serif;
}

* {
  box-sizing: border-box;
}

button {
  width: fit-content;
  margin: 0 auto;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
button[type="submit"],
button.ok {
  background-color: darkgreen;
  border: 2px solid darkgreen;
  color: white;
}
button.danger {
  background-color: darkred;
  border: 2px solid darkred;
  color: white;
}

label,
input,
select {
  display: block;
}
label {
  padding: 0.5rem 0;
}
label.taken {
  color: rgb(110, 110, 110);
  font-style: italic;
}
input,
select {
  width: 100%;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}
input[type="radio"] {
  width: 1rem;
  min-width: 1rem; /* Prevent width from decreasing in small screens */
  height: 1rem;
  margin: 0;
  border: none;
  padding: 0;
}
input::placeholder {
  font-style: italic;
}

/* Texts */
h1,
h2 {
  font-weight: 900;
  margin: 2rem 0;
  text-align: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

p,
legend {
  line-height: 1.5;
}
p.formError {
  margin-top: 0.5rem;
  color: darkred;
}
.greeting {
  font-weight: bold;
  font-size: 1.5rem;
}

b {
  font-weight: bold;
}
i {
  font-style: italic;
}

a.danger {
  color: red;
}
a.blockLink {
  display: block;
  width: fit-content;
  margin: 1rem auto;
}

/* Containers */

body {
  display: flex;
  flex-flow: column;
  min-height: 100dvh;
}

body > header {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  padding: 1rem;
  text-align: center;
  background-color: rgb(140, 175, 122);
  box-shadow: 0 4px 10px 0px #00000026;
}

body > main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  padding: 1rem;
}
@media screen and (min-width: 900px) {
  body > main {
    width: 600px;
    margin: 0 auto;
  }
}

body > footer {
  text-align: center;
  background-color: rgb(41, 50, 36);
  color: white;
  padding: 1rem;
}

body > main > .loginContainer {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

form {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.formRadioRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inputRadioGroup {
  margin: 0 auto;
}
