/* Elements */

:root {
  --primaryColor: #6a7b64;
  --secondaryColor: #e0e3d3;
  --bgColor: #faf8f1;
  --textColor: #3e3e3e;
  --textColorInverted: #ffffff;
  --linkColor: #00305b;
  --linkColorInverted: #caecff;
  --ok: #326321;
  --danger: #c50000;

  font-size: 20px;
}
* {
  font-family: "Andada Pro", serif;
  color: var(--textColor);
  word-break: break-all;
}

* {
  box-sizing: border-box;
}

button {
  width: fit-content;
  margin: 0 auto;
  border: 2px solid #363636;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
button[type="submit"],
button.ok {
  background-color: var(--ok);
  border: 2px solid var(--ok);
  color: var(--textColorInverted);
}
button.danger {
  background-color: var(--danger);
  border: 2px solid var(--danger);
  color: var(--textColorInverted);
}

label,
input,
select {
  display: block;
}
label {
  padding: 0.5rem 0;
}
label.taken {
  color: #6e6e6e;
  font-style: italic;
}
input,
select {
  width: 100%;
  border: 1px solid var(--primaryColor);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}
input:focus,
select:focus {
  outline: 2px solid var(--primaryColor);
}
input::placeholder {
  font-style: italic;
}
input[type="radio"] {
  width: 1rem;
  min-width: 1rem; /* Prevent width from decreasing in small screens */
  height: 1rem;
  margin: 0;
  border: none;
  padding: 0;
}
input[type="radio"]:focus {
  outline: none;
}

table {
  border: 1px solid var(--primaryColor);
}
table th,
table td {
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
}
table > thead {
  background-color: var(--primaryColor);
}
table > thead > tr > th {
  color: var(--textColorInverted);
  font-weight: bold;
}
table > tbody > tr:nth-of-type(2n) {
  background-color: var(--secondaryColor);
}

/* Texts */
h1,
h2 {
  font-weight: 900;
  margin: 2rem 0;
  text-align: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

p,
legend {
  line-height: 1.5;
}
p.formError {
  margin-top: 0.5rem;
  color: darkred;
}
p.note {
  text-align: center;
  margin: 1rem;
}
.greeting {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--textColorInverted);
}

b {
  font-weight: bold;
}
i {
  font-style: italic;
}

a {
  font-weight: 600;
  color: var(--linkColor);
}
a.danger {
  color: var(--danger);
}
a.blockLink {
  display: block;
  width: fit-content;
  margin: 1rem auto;
}
header > a {
  color: var(--linkColorInverted);
}

/* Containers */

body {
  display: flex;
  flex-flow: column;
  min-height: 100dvh;
  background-color: var(--bgColor);
}

body > header {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--primaryColor);
  color: var(--textColorInverted);
  box-shadow: 0 4px 10px 0px #00000026;
}

body > main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  padding: 1rem;
}
@media screen and (min-width: 900px) {
  body > main {
    width: 600px;
    margin: 0 auto;
  }
}

body > footer {
  text-align: center;
  background-color: var(--primaryColor);
  color: white;
  padding: 1rem;
}
body > footer > #countdown {
  color: white;
}

body > main > .loginContainer {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

body > main > .loginContainer > #heartSvg {
  display: block;
  margin: 0 auto;
  width: 75%;
}

form {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.formRadioRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inputRadioGroup {
  margin: 0 auto;
}

/* Graphics */
.graphics {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.graphics > .filledTop {
  width: 380px;
  position: absolute;
  top: -109px;
  left: 50%;
  transform: translateX(-397px) rotate(138deg);
  opacity: 0.2;
}
.graphics > .outlinedTop {
  width: 420px;
  position: absolute;
  top: -209px;
  left: 50%;
  transform: translateX(-457px) rotate(188.1deg);
  opacity: 0.3;
}
.graphics > .filledBottom {
  width: 380px;
  position: absolute;
  bottom: -109px;
  left: 50%;
  transform: translateX(63px) rotate(318deg);
  opacity: 0.2;
}
.graphics > .outlinedBottom {
  width: 380px;
  position: absolute;
  bottom: -109px;
  left: 50%;
  transform: translateX(63px) rotate(318deg);
  opacity: 0.2;
}
.graphics > .leaf {
  width: 380px;
  position: absolute;
  bottom: 81px;
  left: 50%;
  transform: translateX(-7px) rotate(331deg) scale(-1);
  opacity: 0.4;
}
