<div class="graphics">
  <img class="filledTop" src="/filled.svg" >
  <img class="outlinedTop" src="/outlined.svg" >
  <img class="filledBottom" src="/filled.svg" >
  <img class="outlinedBottom" src="/outlined.svg" >
  <img class="leaf" src="/leaf.png" >
</div>